body {
	background: url("../images/wrestlingring4.jpg");
}

#start {
    width: 100px;
}

#end {
    width: 100px;
}

#title {
    background: royalblue;
    height: 100px;
    margin-left: 45px;
    margin-right: 45px;
    padding-top: 15px;
    color: white;
    border-radius: 10px;
}

.jumbotron {
	width: 845px;
    margin-left: 174px;
    text-align: center;
    height: 845px;
    margin-top: 45px;
    float: left;
    border-radius: 15px
}

